{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <p>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
