{% extends '::base.html.twig' %}
{% block container%}
<div class="main-container col3-layout">
    <div class="main">
        <div class="col-wrapper">
            <div class="col-main">
            </div>
            <div class="col-left sidebar"></div>
        </div>
    </div>
    <div class="col-right sidebar">
        <div class="block block-cart">
            <div class="block-title">
                <strong><span>My Cart</span></strong>
            </div>
            <div class="block-content">
                <p class="empty">You have no items in your shopping cart.</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}